#threeDaysdate{
    margin-top: 20px;
    margin-bottom: 10px;
       
}
#threeDaysDescription{
    color: rgb(160, 160, 160);
}
.threeDays{
    background-color:rgb(252, 247, 214); 
}  
.threeDays .collapse p{
    margin-bottom: 0px ;
}
.threeDays .collapse{
    padding-top: 20px;
    padding-left: 15px;
    background-color:rgb(252, 247, 214); 
    padding-bottom: 10px ;
}
.threeDays .names p{
    color: rgb(160, 160, 160);
}
.threeDays img{
    margin-left: 48%;
}
.threeDays .cols{
    padding-left: 30px;
    background-color: a ;
}
.threeDaysScroller{ 
    max-height: 150px;
    height:     150px;
    display: flex;
    position: relative;
    overflow-y:hidden;
    overflow-x:auto;
}

.threeDaysScroller::-webkit-scrollbar{
    width: 0;
}

.threeDaysScroller .item{
    margin-top: 20px;
    min-width: 110px;
    line-height: 50px;
    text-align: center;

}
#threeDaysScrollerItem p{
    color: rgb(160, 160, 160);
    line-height: 90%;
    font-size: 95%;
    margin: 0;
}
#threeDaysScrollerItem img{
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 50%;
}
.threeDays .scroller{
    margin-top: 20px;
}

.threeDays #temp{
    margin-bottom: 20px;
}
